$bg-color: #111e36;


.header {
  position: fixed;
  top: 6%;
  height: 85vh;
  width: 80px;

  img{
    width: 30px;
    cursor: pointer;
    opacity: 0.4;
    transition: 0.3s ease-in-out;
  }
  img:hover{
    opacity: 1.5;
  }
 
  background-color: $bg-color;
  border-radius: 50px;

  .container {
    width: inherit;
    height: 60vh;
    margin: auto 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    .logo{
      flex: 3;
    }
  }

  nav {
    width: inherit;
    height: 60%;
    flex: 2;

    .flex-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 60px 0;
    }
  }
}
// mobile iphone se
@media only screen and (min-width: 320px) and (max-width: 370px){
  img{
    width: 30px;
    height: auto;
  }
  .header {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100px;
    border-radius: 0;

    .container {
      height: 100px;
      flex-direction: row;


      .logo{
        margin-right: 10px;
        flex: 1;
      }
    }
    nav{
      flex: 1;
      height: 35%;
      .flex-wrapper{
        flex-direction: row;
        gap: 0 35px;
        margin-right: 20px;
      }
    }
  }
}



//mobile normal
@media (min-width: 375px) and (max-width: 767px) {
  img{
    width: 30px;
    height: auto;
  }
  .header {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100px;
    border-radius: 0;

    .container {
      height: 100px;
      flex-direction: row;


      .logo{
        margin-right: 30px;
        flex: 1;
      }
    }
    nav{
      flex: 1;
      height: 35%;
      .flex-wrapper{
        flex-direction: row;
        gap: 0 25px;
      }
    }
  }
}

//ipad 

@media only screen and (min-width: 768px) and (max-width: 1024px){
  .header{
    height: 87vh;

    img{
      width: 35px;
    }

    .container{
      height: 70vh;
  
    }
    nav{
      .flex-wrapper{
        gap: 98px 0;
      }
    }
  }

}

//ipad pro
@media only screen and (min-width: 1024px) and (max-width: 1100px) {
  .header{
    height: 83vh;

    .container{
      height: 75vh;
    }
    nav{
      .flex-wrapper{
        gap: 98px 0;
      }
    }
  }
}



