.topGames-carousel-sec {
  padding-bottom: 50px;
  background-color: #030d1d;
  max-width: 78%;
  margin: 0% auto;
  height: 62vh;
  color: white;
  overflow: hidden;
}

.topGames-carousel-sec .container {
  width: inherit;
  height: inherit;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topGames-carousel-sec .container .image {
  width: 1100px;
  height: 450px;
  border-radius: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.topGames-carousel-sec .container .left-arrow {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 70px;
  font-size: 3rem;
  color: black;
  background-color: purple;
  border-radius: 50%;
}

.topGames-carousel-sec .container .right-arrow {
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 70px;
  font-size: 3rem;
  color: black;
  background-color: purple;
  border-radius: 50%;
}

.topGames-carousel-sec .container .slide-title {
  max-width: 500px;
  overflow-x: hidden;
  position: absolute;
  bottom: 15%;
  color: black;
  left: 120px;
}

.topGames-carousel-sec .container .slide-rating {
  cursor: pointer;
  background-color: purple;
  opacity: 0.7;
  padding: 5px 40px;
  font-size: 12px;
  border-radius: 20px;
  font-weight: 400;
  max-width: 500px;
  overflow-x: hidden;
  position: absolute;
  bottom: 9%;
  color: white;
  left: 120px;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.topGames-carousel-sec .container .slide-rating:hover {
  opacity: 1.5;
}

@media only screen and (min-width: 320px) and (max-width: 370px) {
  .topGames-carousel-sec {
    max-width: 96%;
    margin-top: 66px;
  }
  .topGames-carousel-sec .container .left-arrow {
    left: 0px;
    padding: 9px;
  }
  .topGames-carousel-sec .container .right-arrow {
    right: 0px;
    padding: 9px;
  }
  .topGames-carousel-sec .container .image {
    width: 500px;
  }
  .topGames-carousel-sec .container .slide-title {
    left: 18px;
    font-size: 18px;
  }
  .topGames-carousel-sec .container .slide-rating {
    left: 18px;
    font-size: 8px;
    bottom: 7%;
    padding: 5px 21px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .topGames-carousel-sec {
    max-width: 95%;
    height: 60vh;
    padding: 0;
    overflow: hidden;
  }
  .topGames-carousel-sec .container {
    max-width: 90%;
  }
  .topGames-carousel-sec .container .image {
    width: 370px;
    border-radius: 10px;
  }
  .topGames-carousel-sec .container .left-arrow {
    left: 3px;
    padding: 9px;
  }
  .topGames-carousel-sec .container .right-arrow {
    right: 3px;
    padding: 9px;
  }
  .topGames-carousel-sec .container .slide-title {
    font-size: 20px;
    left: 11px;
    color: white;
  }
  .topGames-carousel-sec .container .slide-rating {
    font-size: 10px;
    left: 11px;
    bottom: 35px;
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .topGames-carousel-sec {
    height: 41vh;
  }
  .topGames-carousel-sec .container {
    top: 0;
    left: 22px;
  }
  .topGames-carousel-sec .container .image {
    max-width: 610px;
    height: 409px;
    border-radius: 10px;
  }
  .topGames-carousel-sec .container .slide-title {
    bottom: 60px;
    left: 62px;
    font-size: 17px;
    color: white;
  }
  .topGames-carousel-sec .container .slide-rating {
    bottom: 35px;
    padding: 5px 22px;
    left: 62px;
    font-size: 9px;
  }
  .topGames-carousel-sec .container .left-arrow {
    left: 13px;
    padding: 9px;
  }
  .topGames-carousel-sec .container .right-arrow {
    right: 7%;
    padding: 9px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1100px) {
  .topGames-carousel-sec .container {
    left: 5px;
  }
  .topGames-carousel-sec .container .image {
    max-width: 800px;
  }
  .topGames-carousel-sec .container .slide-title {
    bottom: 145px;
    font-size: 24px;
  }
  .topGames-carousel-sec .container .slide-rating {
    bottom: 110px;
    font-size: 12px;
  }
  .topGames-carousel-sec .container .left-arrow {
    padding: 7px;
  }
  .topGames-carousel-sec .container .right-arrow {
    right: 3%;
    padding: 7px;
  }
}
/*# sourceMappingURL=TopGamesCarousel.css.map */