$bg-color: #030d1d;

.hero-sec {
  height: 32vh;
  background-color: $bg-color;
  overflow: hidden;
  //border: 1px solid greenyellow;
  padding: 10px 0;
}

// mobile iphone se
@media only screen and (min-width: 320px) and (max-width: 370px){
  .hero-sec{
    height: 52vh;
  }
  
}



//mobile
@media (min-width: 375px) and (max-width: 767px) {
  .hero-sec {
    height: 42vh;
    padding: 30px 0;
    overflow: hidden;
  }
}

//ipad
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .hero-sec{
        height: 24vh;
    }
}


//ipad pro
@media only screen and (min-width: 1024px) and (max-width: 1100px) {

  .hero-sec{
    height: 20vh;
  }

}