.game-on-sale-sec {
  background-color: #030d1d;
  height: 40vh;
  color: white;
  padding: 40px 0;

  .container {
    width: 78%;
    position: absolute;
    left: 12%;
    height: inherit;
    margin: 0% auto;
  }
}


//mobile
@media (max-width: 767px) {}

//ipad
@media only screen and (min-width: 768px) and (max-width: 1023px) {}